# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
obj/

# NuGet packages
*.nuget.cache
packages/
*.nupkg
**/packages/*
!.nuget/
!**/packages/repositories.config

# Visual Studio files
*.user
*.suo
*.sln.docstates
*.vsp
*.vspx
*.vssscc
*.dll.refresh
*.log
bin/
obj/
[Bb]in/
[Oo]bj/
*.cache
*.dll
*.exe

# Other files and directories
*.log
*.vs/
*.sln.docstates
[Dd]ebugPS/
_ReSharper*/
*.suo
*.userprefs
*.stackdump
*DS_Store
*Thumbs.db
*ehthumbs.db
[Tt]est[Rr]esult*/
*.VisualState.xml
*.dbmdl
*.jfm
*.pfx
*.publishsettings
*.pubxml
*.pubxml.user
*.user
*.userosscache
*.vstemplate
*.xap
